body {
    font-family: Arial, sans-serif;
    background-color: #04000f;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSb_sLflL3ylyDa9vCpVXT6Q9_uq2DMIoNlkg&usqp=CAU");
    background-repeat: no-repeat;
    background-position: bottom;
    margin-right: 200pix;
  }
  
  header {
    color: #ffffff;
    background-color: #000000;
    padding: 20px;
    background-image: url("https://miro.medium.com/v2/resize:fit:1200/1*GuII-UeSxb8nKklfdTaQDA.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    margin-right: 200pix;
    text-align: center;
    color: #fafafa;
  }
  
  nav {
    margin: 0;
    padding: 0;
    background-color: #ff0000;
    color: #ffffff;
    overflow: hidden;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  main {
    color: #ffffff;
  }
  
  nav li a:hover {
    background:url()
  }

  table {
    color: #000000;
    border: 1px;
    background-color: white;
    width: auto;
  }

  tr {
    border-color: black;

  }

  td {
    height: auto;
    border-color: black;

  }

  footer {
    color: #ffffff;

  }